Basis/Ug_Value_Simple_Evaluation_for_Windows/.ipynb_checkpoints/
Basis/Simple_Envelope_Evaluation/.ipynb_checkpoints/
Basis/Solar_shading_coeff/.ipynb_checkpoints/
Basis/Uw_Value_Simple_Evaluation_for_Windows/.ipynb_checkpoints/
Basis/Ug_value_labeling/.ipynb_checkpoints/
Basis/ComparisonForOutsideAirIntakeVentSysThroughUnderfloorSpace/.ipynb_checkpoints/
Basis/Heating_and _Cooling_Period/.ipynb_checkpoints/
Basis/simple_envelope_evaluation_monte_carlo/.idea/
Basis/Simple_Envelope_Evaluation/calc/.idea/
Basis/simple_envelope_evaluation_monte_carlo/.ipynb_checkpoints/
